<div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3 ">
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
                        <div class="bg-cover h-48 relative">
                            <img class="w-full h-[280px] object-cover" src="{{ asset($recipe->photo) }}"
                                alt="">
                            <div
                                class="recipe_type absolute top-3 left-4 px-[15px] py-[5px] rounded-[10px] bg-[#FF6363] text-white capitalize">
                                <span>{{ $recipe->recipe_type }}</span>
                            </div>
                        </div>

                        <div class="px-3">
                            <h5 class="text-left py-2">{{ $recipe->title }}</h5>

                            <div class="mb-4 text-grey-darker text-sm flex-1">
                                <p class="card-text">{{ $recipe->description }}</p>
                            </div>
                            <a href="#"
                                class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide">Twitter</a>
                        </div>
                    </div>

                </div>